<div align="center" width="100%">

{% if item.project is defined %}
{% set readme = item.item[1].readme|from_yaml %}
{% set id = item.project.id %}

{% if item.project.id is defined %}{%set provider = 'gitlab' %}{% else %}{% set provider = 'github' %}{% endif %}
{% if item.project.id is defined %}{% set web_url = item.project.web_url %}{% else %}{% set web_url = item.project.web_url %}{% endif %}
{% else %}
{% set readme = item.readme|from_yaml %}
{% set id = item.id %}

{%set provider = item.provider %}
{% set web_url = item.web_url %}

{% endif %}
# {{ readme.title }}

<br>

![Project Status - Active](https://img.shields.io/badge/Project%20Status-{{ readme.status | capitalize }}-{% if readme.status| default('active') | lower == 'active'%}green{% else%}yellow{% endif %}?logo={{ provider }}&style=plastic) 

<br>
{% if provider | lower == 'gitlab' %}

![Gitlab forks count](https://img.shields.io/badge/dynamic/json?label=Forks&query=%24.forks_count&url=https%3A%2F%2Fgitlab.com%2Fapi%2Fv4%2Fprojects%2F{{ id }}%2F&color=ff782e&logo=gitlab&style=plastic) ![Gitlab stars](https://img.shields.io/badge/dynamic/json?label=Stars&query=%24.star_count&url=https%3A%2F%2Fgitlab.com%2Fapi%2Fv4%2Fprojects%2F{{ id }}%2F&color=ff782e&logo=gitlab&style=plastic) [![Open Issues](https://img.shields.io/badge/dynamic/json?color=ff782e&logo=gitlab&style=plastic&label=Open%20Issues&query=%24.statistics.counts.opened&url=https%3A%2F%2Fgitlab.com%2Fapi%2Fv4%2Fprojects%2F{{ id }}%2Fissues_statistics)]({{ web_url }}/-/issues)

{% endif %}

{% if provider|lower == 'github' or readme.mirror is defined and readme.mirror.provider|lower == 'github' %}
{%
    if readme.mirror is defined
%}
{% set path = readme.mirror.path %}
{# set mirror_provider = readme.mirror.provider #}
{% endif %}

![GitHub forks](https://img.shields.io/github/forks/{{ path }}?logo=github&style=plastic&color=000000&labell=Forks) ![GitHub stars](https://img.shields.io/github/stars/{{ path }}?color=000000&logo=github&style=plastic) ![Github Watchers](https://img.shields.io/github/watchers/{{ path }}?color=000000&label=Watchers&logo=github&style=plastic)
{% endif %}
<br>

This project is hosted on [{{ provider }}]({{ web_url }}){% if readme.mirror is defined %} and has a read-only copy hosted on [{{ readme.mirror.provider | capitalize }}]({{ readme.mirror.web_url }}){% endif %}.

{% if provider|lower == 'gitlab' %}
----

**Stable Branch**

![Gitlab build status - stable](https://img.shields.io/badge/dynamic/json?color=ff782e&label=Build&query=0.status&url=https%3A%2F%2Fgitlab.com%2Fapi%2Fv4%2Fprojects%2F{{ id }}%2Fpipelines%3Fref%3Dmaster&logo=gitlab&style=plastic) ![branch release version](https://img.shields.io/badge/dynamic/yaml?color=ff782e&logo=gitlab&style=plastic&label=Release&query=%24.commitizen.version&url={{ web_url | urlencode }}%2F-%2Fraw%2Fmaster%2F.cz.yaml) 

----

**Development Branch** 

![Gitlab build status - development](https://img.shields.io/badge/dynamic/json?color=ff782e&label=Build&query=0.status&url=https%3A%2F%2Fgitlab.com%2Fapi%2Fv4%2Fprojects%2F{{ id }}%2Fpipelines%3Fref%3Ddevelopment&logo=gitlab&style=plastic) ![branch release version](https://img.shields.io/badge/dynamic/yaml?color=ff782e&logo=gitlab&style=plastic&label=Release&query=%24.commitizen.version&url={{ web_url | urlencode }}%2F-%2Fraw%2Fdevelopment%2F.cz.yaml)

----
{% endif %}
<br>

</div>

links:

- [Issues]({{ web_url}}{% if provider | lower == 'gitlab' %}/-/issues{% elif provider | lower == 'github' %}/issues{% endif %})

- [Merge Requests (Pull Requests)]({{ web_url}}{% if provider | lower == 'gitlab' %}/-/merge_requests{% elif provider | lower == 'github' %}/pulls{% endif %})



## Contributing
All contributions for this project must conducted from [{{ provider | capitalize }}]({{ web_url}}).

For further details on contributing please refer to the [contribution guide](CONTRIBUTING.md).


## Other

This repo is release under this [license](LICENSE)

